    body{
    background-image: url(https://images.pexels.com/photos/1477459/pexels-photo-1477459.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;  
    background-size: 100%;
    opacity: 0.8;
}
.navi a {
    text-align: center;
    font-size: 30px;
    font-family:'times new roman';
   
 }
#mainNavBar a{
   text-align: center;
   font-size: 17px;
}
.title{
    font: bold 50px 'Berkshire Swash';
    text-align: center;
    color:lightgreen;    
    
}

#box{
    display:-webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid green;    
    margin-top: 20px;
    padding: 30px;
    color: antiquewhite;
    box-shadow: 5px 14px 20px yellow; 
    
}
.read{
    text-align: center;
    font: bold 20px 'Bungee Shade', cursive; 
}
p.test1{
    word-break: keep-all;
    border:1px solid red;
    width:200px;
}
#head{
    text-align: center;
    color: lightcyan;
    font:bold 40px 'Akronim',cursive;
}
.heading{
    color:greenyellow;
    background-color: black;

}
tbody.contents{
    color:red;
    font : bold 15px 'Berkshire Swash' ;
    background-color: black;
    
}

.bottom{
    font: bold 21px 'Bungee Shade',cursive;}




@media only screen and (max-width:812px){
    body{
        background-image: url(https://images.pexels.com/photos/1477459/pexels-photo-1477459.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500);
        background-repeat: no-repeat;  
        background-size:cover;
        
       
    }
    .title{
        font: bold 30px 'Berkshire Swash';
        text-align: center;
        color:lightgreen;    
        
    }
    .title2{
        font:bold 30px 'Mr De Haviland',cursive;
        text-align: center;
        color:lightcyan;
        top: 17%;
        position:absolute;
        left:36%;
    }
    #box{
        display:-webkit-box;   
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        margin-left: 20px;
        margin-right: 20px;
        border: 5px solid green;    
        margin-top: 20px;
        padding: 30px;
        color: antiquewhite;
        box-shadow: 5px 14px 20px yellow; 
        
    }
    .read{
        text-align: center;
        font: bold 15px 'Bungee Shade', cursive; 
    }
    p.test1{
        word-break: keep-all;
        border:1px solid red;
        width:200px;
    }
    #head{
        text-align: center;
        color: lightcyan;
        font:bold 20px 'Akronim',cursive;
    }
    .heading{
        color:greenyellow;
    }
    .contents{
        color:lightslategrey;
    }
    

}